@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500i,600,700,800,900,900i');
/* Import the google web fonts you want to use */


html {
  scroll-behavior: smooth;
  height: 100%;
  /*overflow: hidden;*/
  font-family: Muli;
}

body{
  height: 100%;
  background-color: #222222;
}

.Index_bd {
  background-image: url("../Folder/1x/Index_bg.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative ;
  background-attachment: fixed;
}
.whole{
    height: 100%;
    background-color: #222222;
    padding: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    /*background-color: red;*/

    flex-direction: column;
}

h1{
 padding: 5px;
 font-weight: 600;
 font-size: 4em;
 color: #FFFFFF;
}


h2{
    padding: 5px;
    font-weight: 600;
    font-size: 1.5em;
    color: #AAAAAA;
   }
.Row{
    display: flex;
    
    padding: 15px;
    /*background-color: pink;*/
    flex-direction: row;
    
}
input{
    background-color: transparent;
    color: #CCCCCC;
    font-size: 1.5em;
    width: 20;
}
.Space{
    width: 15px;
}
.p, .Price{
    color: #EEEEEE;
    font-size: 3em;
}
button{
    background-color: #888888;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 8px;
}
.i50{

}

.web{
    align-self: flex-end;
    background-color: rgb(121, 180, 204);
}
