@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Muli);
/* Import the google web fonts you want to use */


html {
  scroll-behavior: smooth;
  height: 100%;
  /*overflow: hidden;*/
}

body{
  height: 100%;
}

.Index_bd {
  background-image: url("../Folder/1x/Index_bg.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative ;
  background-attachment: fixed;
}

h1 {
  font-size: 3.6em;
  font-weight: 600;
  font-family: Muli;
  color: aliceblue;
  margin: 0;

  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

h2 {
  font-size: 1em;
  font-weight: lighter;
  font-family: Muli;
  color: azure;

  /*position: absolute;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

h3 {
  font-size: 3.0em;
  font-weight: 600;
  font-family: Muli;
  color: azure;

  /*position: absolute;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

.Ihover{
  opacity: 0.5;
}
.Ihover:hover{
  opacity: 1;
}

.Index_div{
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: red;*/
  flex-direction: column;
  justify-content:center;
}

.Index_divI{
  /*background-color: blue;*/
  margin: 5px;
  display: flex;

  color: white;
  font-size: 2rem;
}

.ISP1{
  flex: 1.2;
}
.ISP2{
  flex: 1;
}

.IT1{
  flex: 0;
  justify-content: center;
  align-items: flex-end;

}
.IT2{
  flex: 0;
  justify-content: center;
  align-items: flex-start;
}


.Index_Choose{
  flex: 0;
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: lightblue;*/
  flex-direction: row;
  justify-content:center;
}

.Index_Choice{
  /*background-color: pink;*/
  margin: 5px;
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
  height: 100%;
}

.IC1{
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.IC2{
  flex: 1;  
  flex-direction: column;
  align-items: flex-start;
}

.ISP3{
  flex: 0.1;
}
.ISP4{
  flex: 0.1;
}
.ISP5{
  flex: 0.15;
}
.ISP6{
  flex: 0.05;
}
.Index_CP{
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: lightcoral;*/
  flex-direction: column;
  justify-content:center;
  background-color: rgb(31, 31, 31);
}

.ICPC{
  /*background-color: lightgreen;*/
  margin: 5px;
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.Index_CCT{
  flex: 0.2;
  justify-content: center;
  align-items: flex-end;
}
.ICP{
  display: inline-block;
  width: 176px;
  height: 250px;
}
.IC1P{
  background: transparent url("../Folder/1x/ByPW.svg");
}
.IC2P{
  background: transparent url("../Folder/1x/BySW.svg");
}

.Index_Contact{
  flex-direction: row;
  justify-content: center;
}


.ICC1P{
  background: transparent url("../Folder/1x/instagram.png");
}
.ICC2P{
  background: transparent url("../Folder/1x/youtube.png");
}
.ICC3P{
  background: transparent url("../Folder/1x/facebook.png");
}
.ICCP{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}
.Index_CI{
  /*background-color: pink;*/
  margin: 40px;
  display: flex;
  color: white;
  align-items: flex-start;
  font-size: 2rem;
  justify-content: center;
}

.IBT{
  /*background-color: blueviolet;*/
  flex:0;
  justify-content: center;
  align-items: flex-start;
  text-align:center;
}
.Logo_div{
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: red;*/
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex: 0;
  background-color: rgb(31, 31, 31);
}
.Index_Logo_Picture{
  /*background-color: bisque;*/
  width: 330px;
  height: 124px;
  background-size:330px 124px;
  background-repeat: no-repeat;
  background: transparent url("../Folder/1x/logo.svg");
}





@media (min-width: 1200px) {
  html {
      font-size: 17px;
  }
}

@media (min-width: 992px) and (max-width: 1199px)  {
  html {
      font-size: 15px;
  }
  .IBTBP{
    background-size: 25%;
    background: center center cover no-repeat fixed;
    width: 25%;
    height: 25%;
      }

      .Index_Logo_Picture{
        width: 250px;
        height: 94px;
        background-size:250px 94px;
        background-repeat: no-repeat;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
      font-size: 13.5px;
  }
  .IBTBP{
    background-size: 20%;
    background: center center cover no-repeat fixed;
    width: 20%;
    height: 20%;
      }
      .Index_Logo_Picture{
        width: 200px;
        height: 75px;
        background-size:200px 75px;
        background-repeat: no-repeat;
      }
}

@media (min-width: 624px) and (max-width: 767px)  {
  html {
      font-size: 12px;
  }
  .Index_Logo_Picture{
    width: 186px;
    height: 70px;
    background-size:186px 70px;
    background-repeat: no-repeat;
  }
  .IBTBP{
    background-size: 25%;
    background: center center cover no-repeat fixed;
    width: 25%;
    height: 25%;
      }
}

@media (max-width: 623px) {
  html {
      font-size: 10px;
  }
  .Index_Logo_Picture{
    width: 200px;
    height: 75px;
    background-size:200px 75px;
    background-repeat: no-repeat;
  }
  .IBTBP{
background-size: 28%;
background: center center cover no-repeat fixed;
width: 28%;
height: 28%;
  }
  .ICP{
    width: 141px;
    height: 200px;
    background-size:141px 200px;
    background-repeat: no-repeat;
  }
  .ISP3{
    flex: 0.2;
  }
}
.Index_whole{
  height: 100%;
  transform: translate(0, 0);
  transition: all 5s;
}
.Index_whole.visible {
  opacity: 1;
  transform: translate(0, 32%);
}

.IBTANTJS.show , .IBTANT{
  animation: fadeInBT ease 6s;
  -webkit-animation: fadeInBT ease 6s;
  -moz-animation: fadeInBT ease 6s;
  -o-animation: fadeInBT ease 6s;
  -ms-animation: fadeInBT ease 6s;
}
@keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-moz-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-webkit-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-o-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-ms-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:1;}
}
.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
