.home-content {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px 10%;
}

.photo-section {
    flex: 0.8;
    margin-top: 7vh;
    align-self: flex-start;
}

.photo {
    background-image: url(../assets/home.jpeg);
    height: 80vh;
    padding: 0;
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: auto 80vh;
}

.news-section {
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 25px;
    align-content: flex-start;
    position: static;
}

.news-bg {
    align-self: stretch;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    display: flex;
    position: static;
    flex-direction: column;
    align-items: flex-start;
}

.news-title {
    position: relative;
    font-size: 50px;
    margin: 0px;
    line-height: 45px;
    margin: 0px 0px 20px 40px;
    /* identical to box height, or 102% */
    letter-spacing: 0.711307px;
    color: var(--title-font-color);
}

.news-block {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 24px;
    padding-right: 50px;
    position: static;
    background: var(--card-bg-color);
    letter-spacing: 0.490012px;
    border-radius: 40px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    width: auto;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
    z-index: 3;
}

.news-block div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    position: static;
    /* Inside auto layout */
    margin-bottom: 10px;
}

.news-block p {
    position: static;
    width: 100%;
    font-weight: 500;
    line-height: 31px;
    margin: 0px;
    color: var(--card-content-color);
    /* Inside auto layout */
    align-self: stretch;
    font-size: 1.25em;
}

.news-title-date {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.news-title-date h2 {
    position: static;
    font-weight: bold;
    /* identical to box height, or 155% */
    color: #F0F0F0;
    margin: 0px;
    margin-right: 20px;
}

.news-title-date h3 {
    position: static;
    /* identical to box height, or 155% */
    color: #A0A0A0;
    margin: 0px;
    /* margin-left: 20px; */
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 720px) {
    .home-content {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .news-section {
        width: 90%;
    }
    .news-title-date h2 {
        width: 80%;
        margin-right: 5px;
    }
    .news-title-date h3 {
        text-align: right;
    }
    .news-block div {
        align-items: center;
        margin-bottom: 15px;
    }
    .photo-section {
        flex: 1;
        margin-top: 7vh;
        width: 100%;
    }
    .photo {
        position: relative;
        margin: 0px;
        margin-left: 55px;
        width: 80%;
        background-repeat: space;
        background-position: center center;
        /* background-size: auto 80vh; */
        background-size: cover;
    }
    .spacer {
        height: 0vh;
    }
    .news-section {
        margin: 20px 0px;
        margin-left: -40px;
    }
}


/* Large devices (laptops/desktops, 721px and up) */

@media only screen and (min-width: 721px) {
    .spacer {
        height: 40vh;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .spacer {
        height: 0vh;
    }
}

@media only screen and (min-width: 1440px) {
    .news-title-date h3 {
        width: max(75px, 15%);
    }
    .photo {
        background-size: cover;
    }
}