@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500i,600,700,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500i,600,700,800,900,900i');
/* Import the google web fonts you want to use */


html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}

body{
  height: 100%;
}

.Index_bd {
  background-image: url("../Folder/1x/Index_bg.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative ;
  background-attachment: fixed;
}

h1 {
  font-size: 3.6em;
  font-weight: 670;
  font-family: Muli;
  color: aliceblue;
  margin: 0;

  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

h2 {
  font-size: 1em;
  font-weight: lighter;
  font-family: Muli;
  color: azure;

  /*position: absolute;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

h3 {
  font-size: 3.0em;
  font-weight: 700;
  font-family: Muli;
  color: azure;

  /*position: absolute;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}
h4 {
  font-size: 1.2em;
  font-weight: 300;
  font-family: Muli;
  color: azure;

  /*position: absolute;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

.Ihover{
  opacity: 0.5;
}
.Ihover:hover{
  opacity: 1;
}

.Index_div{
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: red;*/
  flex-direction: column;
  justify-content:center;
}

.Index_divI{
  /*background-color: blue;*/
  margin: 5px;
  display: flex;

  color: white;
  font-size: 2rem;
}

.ISP1{
  flex: 1.2;
}
.ISP2{
  flex: 1;
}

.IT1{
  flex: 0;
  justify-content: center;
  align-items: flex-end;

}
.IT2{
  flex: 0;
  justify-content: center;
  align-items: flex-start;
}


.Index_Choose{
  flex: 0;
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: lightblue;*/
  flex-direction: row;
  justify-content:center;
}

.Index_Choice{
  /*background-color: pink;*/
  margin: 5px;
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
  height: 100%;
}

.IC1{
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.IC2{
  flex: 1;  
  flex-direction: column;
  align-items: flex-start;
}

.ISP3{
  flex: 0.1;
}
.ISP4{
  flex: 0.1;
}
.ISP5{
  flex: 0.15;
}
.ISP6{
  flex: 0.05;
}
.Index_CP{
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: lightcoral;*/
  flex-direction: column;
  justify-content:center;
  background-color: rgb(31, 31, 31);
}

.ICPC{
  /*background-color: lightgreen;*/
  margin: 5px;
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.Index_CCT{
  flex: 0.2;
  justify-content: center;
  align-items: flex-end;
}
.ICP{
  display: inline-block;
  width: 176px;
  height: 250px;
}
.IC1P{
  background: transparent url("../Folder/1x/ByPW.svg");
}
.IC2P{
  background: transparent url("../Folder/1x/BySW.svg");
}

.Index_Contact{
  flex-direction: row;
  justify-content: center;
}


.ICC1P{
  background: transparent url("../Folder/1x/instagram.png");
}
.ICC2P{
  background: transparent url("../Folder/1x/youtube.png");
}
.ICC3P{
  background: transparent url("../Folder/1x/facebook.png");
}
.ICCP{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}
.Index_CI{
  /*background-color: pink;*/
  margin: 40px;
  display: flex;
  color: white;
  align-items: flex-start;
  font-size: 2rem;
  justify-content: center;
}

.IBT{
  /*background-color: blueviolet;*/
  flex:0;
  justify-content: center;
  align-items: flex-start;
  text-align:center;
}
.Logo_div{
  display: flex;
  height: 100%;
  padding: 15px;
  /*background-color: red;*/
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex: 0; 
}
.Index_Logo_Picture{
  /*background-color: bisque;*/
  width: 330px;
  height: 124px;
  background-size:330px 124px;
  background-repeat: no-repeat;
  background: transparent url("../Folder/1x/logo.svg");
  
}





.IBP_div{
  display: flex;
  height: 100%;
  padding: 5px;
  /*background-color: lightslategrey;*/
  flex-direction: column;
  justify-content:center;
}
.IBP_whole{
  flex: 0;
  display: flex;
  height: 100%;
  padding: 5px;
  /*background-color: lightblue;*/
  flex-direction: row;
  justify-content:center;
}

.IBP_Choice{
  /*background-color: pink;*/
  margin: 5px;
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
  height: 100%;
}
.ICPC{
  /*background-color: lightgreen;*/
  margin: 5px;
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.ICP1, .ICP2, .ICP3{
  width: 20%;
  flex-direction: column;
  align-items: center;
}
.ISP7{
  flex: 0.05;
}
.IBP{
  display: inline-block;
  width: 150px;
  height: 150px;
}
.IB1P{
  background: transparent url("../Folder/1x/Person.svg");
}
.IB2P{
  background: transparent url("../Folder/1x/Award.svg");
}
.IB3P{
  background: transparent url("../Folder/1x/Book.svg");
}


.Intro_div{
  display: flex;
  height: 100%;
  padding: 5px;
  background: transparent url("../Folder/1x/code.jpg");
  flex-direction: column;
  justify-content:center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative ;
  background-attachment: fixed;
}
.Intro_bigdiv{
  margin: 5px;
  display: flex;
  height: 80%;
  padding: 5px;
  /*background-color: rgb(105, 39, 39);*/
  flex-direction: row;
  justify-content:flex-end;
  align-self: center;
}

.Jesse{
    font-size: 3em;
    font-weight: 550;
    margin: 0;
    font-family: Roboto;
}
.Hello{
  font-size: 0.6em;
  font-weight: 450;
  margin: 0;
}


.IT_title, .IT_TT, .IT_text{
  /*background-color: goldenrod;*/
  margin: 6px;
}
.IT_text{
  width: 65%;
}
.Flexd{
  display: flex;
  flex-direction: row;

height: 50%;

justify-content:center;
align-items: flex-start;
}
.Intro_divitem{
  /*background-color: pink;*/
  margin: 5px;
  display: flex;
  flex: 1;
  color: white;
  font-size: 2rem;
  align-items: start;
  height: 100%;
  width: 100%;
  padding: 5px;
  flex-direction: column;
  justify-content:center;
}
.Intro_TP{
  align-items: flex-end;
}
.IT_BT{
  display: flex;
/*background-color: pink;*/
align-items: flex-start;
justify-content:center;
height: 20%;
}













@media (min-width: 1200px) {
  html {
      font-size: 17px;
  }
  .ICP1, .ICP2, .ICP3{
    width: 25%;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px)  {
  html {
      font-size: 15px;
  }
  .IBTBP{
    background-size: 25%;
    background: center center cover no-repeat fixed;
    width: 25%;
    height: 25%;
      }

      .Index_Logo_Picture{
        width: 250px;
        height: 94px;
        background-size:250px 94px;
        background-repeat: no-repeat;
      }
      h4{
        font-size: 30px;
      }
      .ICP1, .ICP2, .ICP3{
        width: 20%;
        flex-direction: column;
        align-items: center;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
      font-size: 13.5px;
  }
  .IBTBP{
    background-size: 20%;
    background: center center cover no-repeat fixed;
    width: 20%;
    height: 20%;
      }
      .Index_Logo_Picture{
        width: 200px;
        height: 75px;
        background-size:200px 75px;
        background-repeat: no-repeat;
      }
      h4{
        font-size: 1.2em;
      }
      .ICP1, .ICP2, .ICP3{
        width: 27%;
        flex-direction: column;
        align-items: center;
      }

}

@media (min-width: 624px) and (max-width: 767px)  {
  html {
      font-size: 12px;
  }
  .Index_Logo_Picture{
    width: 186px;
    height: 70px;
    background-size:186px 70px;
    background-repeat: no-repeat;
  }
  .IBTBP{
    background-size: 25%;
    background: center center cover no-repeat fixed;
    width: 25%;
    height: 25%;
      }
      .ICP1, .ICP2, .ICP3{
        width: 35%;
        flex-direction: column;
        align-items: center;
      }
      h4{
        font-size: 1.2em;
      }

      .Intro_bigdiv{
        flex-direction: column;
    
      }
      .Intro_TP{
    align-items: center;
      }
      .Intro_divitem{
        align-items: center;
      }
      .IT_title, .IT_TT, .IT_text{
        /*background-color: goldenrod;*/
        margin: 3px;
      }
      
}

@media (max-width: 623px) {
  html {
      font-size: 10px;
  }
  .Index_Logo_Picture{
    width: 200px;
    height: 75px;
    background-size:200px 75px;
    background-repeat: no-repeat;
  }
  .IBTBP{
background-size: 28%;
background: center center cover no-repeat fixed;
width: 28%;
height: 28%;
  }
  .ICP{
    width: 141px;
    height: 200px;
    background-size:141px 200px;
    background-repeat: no-repeat;
  }
  .ISP3{
    flex: 0.2;
  }
  h4{
    font-size: 1em;
  }
  .IBP_Choice{
    margin: 0px;
  }
  .ICP1, .ICP2, .ICP3{
    width: 35%;
    flex-direction: column;
    align-items: center;
  }
  .IBP{
    width: 80px;
    height: 80px;
    background-size:80px 80px;
    background-repeat: no-repeat;
  }

  .Intro_bigdiv{
    flex-direction: column;

  }
  .Intro_TP{
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .Intro_divitem{
    align-items: center;
  }
  .IT_title, .IT_TT, .IT_text{
    /*background-color: goldenrod;*/
    margin: 3px;
  }
}




.Index_whole{
  height: 100%;
  transform: translate(0, 5%);
  transition: all 5s;  
  opacity: 0;
}
.Intro_whole{
  height: 100%;
  /*transform: translate(0, 5%);
  transition: all 5s;  
  opacity: 0;*/
}
.IBP_whole{
  height: 100%;
  transform: translate(0, -10%);
  transition: all 4s;  
  opacity: 0;
}
.Index_whole.visible, .IBP_whole.visible {
  opacity: 1;
}
.Index_whole.visible{
  transform: translate(0, 32%);
}
 .IBP_whole.visible {
  opacity: 1;
  transform: translate(0, 10%);
}


.IBTANT{
  animation: fadeInBT ease 6s;
  -webkit-animation: fadeInBT ease 6s;
  -moz-animation: fadeInBT ease 6s;
  -o-animation: fadeInBT ease 6s;
  -ms-animation: fadeInBT ease 6s;
}
@keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-moz-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-webkit-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-o-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-ms-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}
.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
