@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500i,600,700,800,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500i,600,700,800,900,900i');
/* Import the google web fonts you want to use */


html {
  scroll-behavior: smooth;
  height: 100%;
  /*overflow: hidden;*/
}

body{
  height: 100%;
}

.bd {
  background-image: url("../Folder/1x/Index_bg.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative ;
  background-attachment: fixed;
}

h1 {
  font-size: 3.6em;
  font-weight: 670;
  font-family: Muli;
  color: aliceblue;
  margin: 0;
}

h2 {
  font-size: 1em;
  font-weight: lighter;
  font-family: Muli;
  color: azure;
}

h3 {
  font-size: 3.0em;
  font-weight: 700;
  font-family: Muli;
  color: azure;
}
h4 {
  font-size: 1.2em;
  font-weight: 300;
  font-family: Muli;
  color: azure;
}

.Ihover{
  opacity: 0.5;
}
.Ihover:hover{
  opacity: 1;
}

.project_whole{
  margin: 5%;
  height: 100%;
}

.dars{
  height: 100%;
  width: 100%;
background-color: red;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: rgba(255, 255,255, .5); 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}



















@media (min-width: 1200px) {
  html {
      font-size: 17px;
  }

}

@media (min-width: 992px) and (max-width: 1199px)  {
  html {
      font-size: 15px;
  }
      h4{
        font-size: 30px;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
      font-size: 13.5px;
  }
      h4{
        font-size: 1.2em;
      }
}

@media (min-width: 624px) and (max-width: 767px)  {
  html {
      font-size: 12px;
  }
      h4{
        font-size: 1.2em;
      }      
}

@media (max-width: 623px) {
  html {
      font-size: 10px;
  }
  h4{
    font-size: 1em;
  }
}


.IBTANT{
  animation: fadeInBT ease 6s;
  -webkit-animation: fadeInBT ease 6s;
  -moz-animation: fadeInBT ease 6s;
  -o-animation: fadeInBT ease 6s;
  -ms-animation: fadeInBT ease 6s;
}
@keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-moz-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-webkit-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-o-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}

@-ms-keyframes fadeInBT {
  0% {opacity:0;}
  40%{opacity:0;}
  100% {opacity:0.5;}
}
.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
